<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.course_name %></title>
</head>
<body>
    <h1><%= course.course_name %></h1>
    <h4><%= course.standard %></h4>
    <table border="1">
        <% for (let assign of course.assignments) { %>
            <tr>
                <td><%= assign.title %></td>
                <td><%= assign.description %></td>
                <td><%= assign.total_grade %></td>
                <td><%= assign.postedBy %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>